.App {
  font-family: sans-serif;
  text-align: center;
}
img {
  width: 200px;
  height: 200px;
}
.grid {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.navbar {
  height: 40px;
  background: skyblue;
  display: "flex";
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  padding: 5px;
}
